<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUI_MENU_PLAY</key>
	<string>Play</string>
	<key>CC_KAREN_QUEST1_STAGE1_LINE1</key>
	<string>Welcome to this quest, player!</string>
</dict>
</plist>
