createdAt: "2020-01-21T20:07:36.047Z"
updatedAt: "2020-02-12T21:23:05.210Z"
type: "MARKDOWN_NOTE"
folder: "cb091c9e0cf9b08f7c5f"
title: "[JGELDOCS] Updating"
tags: [
  "Update"
  "Updating"
  "Hooks"
  "Event_Hooks"
]
content: '''
  # [JGELDOCS] Updating
  
  # Hook Key
  # Static hooking 
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
