createdAt: "2020-01-21T20:07:04.695Z"
updatedAt: "2020-01-21T20:07:18.427Z"
type: "MARKDOWN_NOTE"
folder: "f0b6ec48d3d358b76274"
title: "Update Hooks"
tags: []
content: "# Update Hooks"
linesHighlighted: []
isStarred: false
isTrashed: true
