createdAt: "2020-04-03T13:32:03.527Z"
updatedAt: "2020-04-03T13:33:05.787Z"
type: "MARKDOWN_NOTE"
folder: "4d8c76e5b5b72cb3fad8"
title: "Console"
tags: []
content: '''
  # Console
   
  
  ## Argument Formatting
'''
linesHighlighted: []
isStarred: false
isTrashed: false
