createdAt: "2020-01-21T20:00:24.640Z"
updatedAt: "2020-04-14T12:00:50.778Z"
type: "MARKDOWN_NOTE"
folder: "2b7f99ab0db0ed12aad6"
title: "Terminology"
tags: [
  "JGEL"
]
content: '''
  # Terminology
  
  The Java Gaming Engine Library (JGEL) is a static JAVA library that contains tools for developers to aid them in developing a game. 
  
  The tools in this library are not intended to limit the possibilities of what can be achieved normally in java, so developers are free to create thier own systems, API's, tools and features alongside the JGEL architecture.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
